<div class="container">
  <h1>Welcome to Rock Paper Scissors Game</h1>
<!-- </div>
<div class="games"> -->
  <a href="http://localhost:4567/game/paper/scissors">Play paper vs scissors</a><br><br>
  <a href="http://localhost:4567/game/rock/scissors">Play rock vs scissors</a><br><br>
  <a href="http://localhost:4567/game/paper/rock">Play paper vs rock</a>
</div>
