<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rock Paper Scissors</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
  </head>
  <body>
    <nav>
      <ul>
        <li><a href='/home'>Play Rock Paper Scissors</a></li>
        <li><a href='/rules'>Rules</a></li>
      </ul>
    </nav>
      <%= yield %>
  </body>
</html>
